<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="font/demo.css" />
    <link rel="stylesheet" href="font/iconfont.css" />
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/team.css" rel="stylesheet">
    <link href="css/new.css" rel="stylesheet">
    <script src="script/jquery-3.1.1.js"></script>
</head>
<body>
<header class="scroll-topMenu">
    <article class="pWidth-bg topMenu gr-bg">
        <section>
            <img src="images/logo2.png" alt="">
            <p class="wh">
                <strong>智能计算与系统实验室（Incas-lab）</strong>
                <span class="gr02"> Intelligent Computing and System</span>
            </p>
        </section>
        <section>
            <div class="search">
                <form>
                    <input type="text" value="" placeholder="search...">
                    <button></button>
                </form>
            </div>
            <nav>
                <ul class="wh">
                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="#news">最新动态</a></li>
                    <li><a href="#team">研究团队</a></li>
                    <li><a href="#direction">研究方向</a></li>
                    <li><a href="#achievement">科研成果</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </nav>
        </section>
    </article>
</header>
<main>
    <article class="content pWidth">
        <aside>
            <ul>
                <li><a href="#">段落一</a></li>
                <li><a href="#">新闻段落二</a></li>
                <li><a href="#">测试段落三</a></li>
            </ul>
        </aside>
        <section class="content-main">
            <div class="title">
                <p>文章标题</p>
                <span>作者：xx老师</span>
            </div>
            <h2>段落一</h2>
            <p>
                <img class="img-left s" src="images/storages/direction3.jpg" alt="" />
                这是一段测试段落<em>只是强调文字</em>,这是一段测试段落文字
                这是一段测试文字,<strong>这是重要强调文字</strong>一段测试段落文字这是一段测试文字。
                这是一段测试文字,<strong>这是重要强调文字</strong>一段测试
                这是一段测试文字,<a>这是个链接</a>这是一段测试段落文字这是一段测试文字。
                一段<span>请忽视的文字</span>这是一段测试文字,这是一段测试段落文字
                这是一段测试文字,这是一段测试段落文字
                这是一段测试文字,<strong>这是重要强调文字</strong>一段测试段落文字这是一段测试文字。
                这是一段测试文字,<strong>这是重要强调文字</strong>一段测试
                这是一段测试文字,<a>这是个链接</a>这是一段测试段落文字这是一段测试文字。
                一段<span>请忽视的文字</span>这是一段测试文字,这是一段测试段落文字
                这是一段测试文字,这是一段测试段落文字
                这是一段测试文字,<strong>这是重要强调文字</strong>一段测试段落文字这是一段测试文字。
                这是一段测试文字,<strong>这是重要强调文字</strong>一段测试
                这是一段测试文字,<a>这是个链接</a>这是一段测试段落文字这是一段测试文字。
                一段<span>请忽视的文字</span>这是一段测试文字,这是一段测试段落文字
                这是一段测试文字,这是一段测试段落文字
                这是一段测试文字,<strong>这是重要强调文字</strong>一段测试段落文字这是一段测试文字。
                这是一段测试文字,<strong>这是重要强调文字</strong>一段测试
                这是一段测试文字,<a>这是个链接</a>这是一段测试段落文字这是一段测试文字。
                一段<span>请忽视的文字</span>这是一段测试文字,这是一段测试段落文字
                这是一段测试文字,这是一段测试段落文字
                <img src="images/storages/bg1.png" alt="" />
            </p>
            <p><img class="img-right w-m" src="images/storages/logo2.png" alt="" />
                这是一段测试文字,这是一段测试段落文字这是一段测试文字,这是一段测试段落文字这是一段测试文字,这是一段测试段落文字
                这是一段测试文字,
                这是一段测试段落文字这是一段测试文字,这是一段测试段落文字这是一段测试文字,这是一段测试段落文字
                这是一段测试文字,这是一段测试段落文字
            </p>
            <h2>新闻段落二</h2>
            <p>这是一段测试文字,这是一段测试段落文字这是一段测试文字,这是一段测试段落文字这是一段测试文字,这是一段测试段落文字
                这是一段测试文字,
                <img class="w-l" src="images/storages/direction4.png" alt="" />
                <img class="w-l" src="images/storages/new9.png" alt="" />
                这是一段测试段落文字这是一段测试文字,这是一段测试段落文字这是一段测试文字,这是一段测试段落文字
                这是一段测试文字,这是一段测试段落文字
            </p>
            <p class="p-m">这是一段测试文字,这是一段测试段落文字这是一段测试文字,这是一段测试段落文字这是一段测试文字,这是一段测试段落文字
                这是一段测试文字,这是一段测试段落文字
                <img class="xl" src="images/storages/new10.JPG" alt="" />
                这是一段测试文字,这是一段测试段落文字这是一段测试文字,这是一段测试段落文字
                这是一段测试文字,这是一段测试段落文字
            </p>
            <h2>测试段落三</h2>
            <p>这是一段测试文字,这是一段测试段落文字这是一段测试文字,这是一段测试段落文字这是一段测试文字,这是一段测试段落文字
                <h3>中标题</h3>
                这是一段测试文字,这是一段测试段落文字
                <img class="xl" src="images/storages/timg.jpg" alt="" />
                <h3>中标题</h3>
                <h4>小标题</h4>
                这是一段测试文字,这是一段测试段落文字这是一段测试文字,这是一段测试\
                <h4>小标题</h4>
                段落文字这是一段测试文字,这是一段测试段落文字
            </p>
            <div class="bottom">
                <span>发布日期：2017-07-28</span>
            </div>
        </section>
    </article>
</main>
<footer class="gr-bg">
    <article class="pWidth">
        <p>&copy; Copy Rights 2017 ZJSYS All Rights Served</p>
    </article>
</footer>
</body>
</html>