<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>team</title>
    <link rel="stylesheet" href="font/demo.css" />
    <link rel="stylesheet" href="font/iconfont.css" />
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/team.css" rel="stylesheet">
    <script src="script/jquery-3.1.1.js"></script>
</head>
<body>
<header class="scroll-topMenu">
    <article class="pWidth-bg topMenu gr-bg">
        <section>
            <img src="images/logo2.png" alt="">
            <p class="wh">
                <strong>智能计算与系统实验室（Incas-lab）</strong>
                <span class="gr02"> Intelligent Computing and System</span>
            </p>
        </section>
        <section>
            <div class="search">
                <form>
                    <input type="text" value="" placeholder="search...">
                    <button></button>
                </form>
            </div>
            <nav>
                <ul class="wh">
                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="#news">最新动态</a></li>
                    <li><a href="#team">研究团队</a></li>
                    <li><a href="#direction">研究方向</a></li>
                    <li><a href="#achievement">科研成果</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </nav>
        </section>
    </article>
</header>

<main>
    <article class="header">
        <section class="header-info pWidth">
            <div class="head-img">
                <img src="images/team/team5.jpg" alt="" />
            </div>
            <ul>
                <li><strong>教师一</strong></li>
                <li><span>职务：教授</span></li>
                <li><span>邮箱：qqemail@qq.com</span></li>
                <li><span>电话：0571-09101012</span></li>
            </ul>
        </section>
    </article>
    <article class="content pWidth">
        <aside>
            <ul>
                <li><a href="#"><i class="icon iconfont icon-shouye"></i>简介</a></li>
                <li><a href="#"><i class="icon iconfont icon-xihuan"></i>研究兴趣</a></li>
                <li><a href="#"><i class="icon iconfont icon-gonglve"></i>教学&科研</a></li>
            </ul>
        </aside>
        <section>
            <div class="content-title">
                <h2>个人简介</h2>
            </div>
            <div class="content-main">
                <p>简介文字一，段落一，这也是一个段落。<strong>这是重点文字</strong>，段落一，这也是一个段落。简介文字一，段落一，这也是一个段落。
                    简介文字一，段落一，这也是一个段落。简介文字一，段落一，这也是一个段落。简介文字一，段落一，这也是一个段落。
                    简介文字一，段落一，这也是一个段落。
                </p>
                <p>简介文字一，段落一，这也是一个段落。<a>这是链接</a>，段落一，这也是一个段落。简介文字一，段落一，这也是一个段落。
                    简介文字一，段落一，这也是一个段落。简介文字一，段落一，这也是一个段落。简介文字一，段落一，这也是一个段落。
                    简介文字一，段落一，这也是一个段落。
                </p>
            </div>
        </section>
    </article>
</main>

<footer class="gr-bg">
    <article class="pWidth">
        <p>&copy; Copy Rights 2017 ZJSYS All Rights Served</p>
    </article>
</footer>

</body>
</html>