/* override some original style preset in the browser */
body,ul,li,p,h1,h2,h3,h4,h5,h6,img,br,hr,table,tr,td,dl,dt,dd,form,input,button,header,strong,article,nav,main,footer,figure,figcaption{
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    color: inherit;
}
img{
    border:none;
}
ul,li{
    list-style-type: none;
}

input,button{
    border:none;
}
button:hover{
    cursor: pointer;
}
*{
    font-family: "Microsoft JhengHei";
    transition: all 0.3s ease;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
    font-size: 45px;
    color: #373737;
}
h1 span{
    margin: 0px 10px;
}
h1:after{
    display: inline-block;
    content: '';
    width: 60px;
    height: 3px;
    background: #4f75d8;
}
h1:before{
    display: inline-block;
    content: '';
    width: 60px;
    height: 3px;
    background: #4f75d8;
}
h2{
    color: #3f3f3f;
    font-size: 35px;
}

/* define some colors so we con use them later in out html */
.bl{
    color: #4f75d8;
}
.gr{
    color: #373737;
}
.gr02{
    color: #999;
}
.wh{
    color: #fff;
}
.gr-bg{
    background-color: #373737;
}
.img-path img{
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    -moz-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    object-fit: cover;
}

.tog-tag{
    display: flex;
    justify-content: center;
    color: #fff;
}

.tog-tag{
    position: relative;
    z-index: 1;
}

.tog-tag>div{
    margin: 0px 20px;
}

.tog-tag>div.active>strong{
    color: orange;
    border-bottom: 1px solid orange;
}

.tog-tag ul{
    position: absolute;
    transform: translate(-50%,10px) rotateX(90deg);
    display: flex;
}

.tog-tag>div.active ul{
    transform: translate(-50%,10px) rotateX(0deg);
}

.tog-tag strong{
    cursor: pointer;
}

.tog-tag ul li{
    margin: 0px 5px;
}

.tog-tag ul li>a{
    cursor: pointer;
}

.tog-tag ul li.active{
    color: orange;
}

.mini-tag{
    margin: 10px 0px 5px;
    display: flex;
    flex-wrap: wrap;
}

.mini-tag span{
    position: relative;
    -webkit-clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0% 50%);
    -moz-clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0% 50%);
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0% 50%);
    display: block;
    padding: 3px 5px;
    padding-left:20px;
    margin: 0px 5px;
    background: #999;
    color: #fff;
    font-size: 12px;
    opacity:0.8;
}

.mini-tag span:hover{
    background: #4f75d8;
    opacity:1;
}

.mini-tag span:before{
    content: '';
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 10px;
    margin: auto;
    display: block;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
}

/* 文章通用 */
.content-title>h2{
    margin-bottom: 20px;
}

.content-main p{
    font-size: 16px;
    text-indent: 2em;
    margin: 10px 0px;
}

.content-main a{
    color:#4f75d8 ;
}